{
	"env": {
		"es6": true,
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module",
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-tabs": "off",
		"no-console": "off",
		"semi": "error"
	}
}