{
	"env": {
		"es6": true,
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
		}
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-tabs": "off",
		"no-console": "off"
	}
}