// Flat palette: https://www.materialui.co/flatuicolors
$pomegranate: #c0392b;
$alizarin: #e74c3c;
$pumpkin: #d35400;
$carrot: #e67e22;
$orange: #f39c12;
$sunflower: #f1c40f;
$nephritis: #27ae60;
$emerland: #2ecc71;
$belizehole: #2980b9;
$peterriver: #3498db;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$midnightblue: #2c3e50;
$cloud: #ecf0f1;
$concrete: #95a5a6;


html, body {
	height: 100%;
	width: 100%;
	color: $midnightblue;
}

.welcome-banner {
	text-align: center;
}

.rocket {
	color: $belizehole;
	padding: 0.1em;
}

.info-box {
	background-color: $cloud;
	box-sizing: border-box;
	padding: 1em;
}

.info-box-question {
	font-weight: 600;
}

.go-link {
	color: $alizarin;
	text-decoration: none;
}

.heart {
	// color: $alizarin;
	padding: 0.1em;
}

.left-panel-container, .barcode-gallery-container {
	box-sizing: border-box;
	padding: 1em;
}

.left-panel-container {
	background: $concrete;
}

.barcode-gallery-container {
	background: $cloud;
}