<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	</head>
	<body>
		{% block top_menu %}
		<nav class="sn-top-bar">
			<ul class="sn-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/contact">Contact me</a></li>
			</ul>
		</nav>
		{% endblock %}
		<div class="sn-container" id="react-container">
			{# {% block body %}{% endblock %} #}
		</div>
		{% block javascripts %}
			<script src="{{ asset('build/app.js') }}"></script>
		{% endblock %}
	</body>
</html>
